h1 {
    color: red;
}
.create-line-container {
  text-align: center;
  width: 600px;
  margin: auto;
}

#colorPreviewButton {
    margin-left: 10px;
    display: inline-block;
}

.colorSelect {
    width: 60px;
}

#colorPreviewSquare {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
}

.colorSelect {
    margin: auto;
}

.form-divider {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}
