<div class="create-line-container">

  <h2>Create new Line</h2>
  <form [formGroup]="line" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="line.value.code.invalid">Cannot be blank</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="line.value.name.invalid"></mat-error>
    </mat-form-field>

    <mat-divider class="form-divider"></mat-divider>

    <!-- Show a list of existing nodes and add multiselect option -->
    <h4>Terminal nodes</h4>
    <mat-form-field appearance="outline">
      <mat-label>Start Node</mat-label>
      <mat-select formControlName="terminalNode1">
        <mat-option *ngFor="let n of allNodes" [value]=n.shortName>{{n.name}}</mat-option>
        <mat-error *ngIf="line.value.terminalNode1.invalid"></mat-error>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Node</mat-label>
      <mat-select formControlName="terminalNode2">
        <mat-option *ngFor="let n of allNodes" [value]=n.shortName>{{n.name}}</mat-option>
        <mat-error *ngIf="line.value.terminalNode2.invalid"></mat-error>
      </mat-select>
    </mat-form-field>

    <mat-divider class="form-divider"></mat-divider>

    <h4>RGB color components</h4>

    <mat-form-field appearance="outline" class="colorSelect">
      <mat-label>Red</mat-label>
      <input matInput type="number" formControlName="colorR" />
      <mat-error *ngIf="line.value.colorR.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="colorSelect">
      <mat-label>Green</mat-label>
      <input matInput type="number" formControlName="colorG" />
      <mat-error *ngIf="line.value.colorG.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="colorSelect">
      <mat-label>Blue</mat-label>
      <input matInput type="number" formControlName="colorB" />
      <mat-error *ngIf="line.value.colorB.invalid"></mat-error>
    </mat-form-field>

    <button type="button" mat-flat-button color="accent" (click)="previewColor()" id="colorPreviewButton">Preview color</button>
    <div id="colorPreviewSquare" style="background-color: rgb({{R}},{{G}},{{B}})"></div>

    <mat-divider class="form-divider"></mat-divider>

    <h4>Allowed Drivers</h4>

    <mat-selection-list #drivers>
      <mat-list-option *ngFor="let d of allDTs">
        {{d}}
      </mat-list-option>
    </mat-selection-list>

    <mat-divider class="form-divider"></mat-divider>

    <h4>Allowed Vehicles</h4>

    <mat-selection-list #vehicles>
      <mat-list-option *ngFor="let v of allDTs">
        {{v.name}}
      </mat-list-option>
    </mat-selection-list>

    <button mat-raised-button disabled color="primary" id="createButton">Create</button>
  </form>

</div>
