.create-path-container {
  text-align: center;
  width: 600px;
  margin: auto;
}

h2 {
    margin-top: 10px;
}

.form-divider {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

#createButton {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-color: green;
  color: white;
}
