<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{shortName}}
        </mat-panel-title>
        <mat-panel-description>
          {{name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p id="isDepot">Depot stop: {{isDepot}}</p>
      <p id="isReliefPoint">Relief point stop: {{isReliefPoint}}</p>
      <p id="longitude">Longitude: {{longitude}}</p>
      <p id="latitude">Latitude: {{latitude}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
