.example-card {
  width: 300px;
}

.header {
    text-align: center;
    display: block;
}

.title {
    text-align: center;
    display: inline-block;
}

.subtitle {
  text-align: center;
  display: block;
}
