<h1>{{title}}</h1>
<nav class="navbar">
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/map" routerLinkActive="active">Map</a>
  <a routerLink="/populate" routerLinkActive="active">Populate</a>
  <a routerLink="/node" routerLinkActive="active">Create nodes</a>
  <a routerLink="/line" routerLinkActive="active">Create lines</a>
  <a routerLink="/path" routerLinkActive="active">Create paths</a>
  <a routerLink="/driver" routerLinkActive="active">Create driver type</a>
  <a routerLink="/vehicle" routerLinkActive="active">Create vehicle type</a>
</nav>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
