.create-vehicle-container {
  margin: auto;
  width: 80%;
  text-align: center;
  /*background-color: deepskyblue;*/
}

h2 {
    color: black;
    margin-top: 10px;
}

button {
    outline: 2px;
    outline-color: black;
}

math-form-field {
    margin: auto;
    width: 30%;
    display: inline-block;
}
